.anything-text-container h6 {
    margin: 1px;
}
img.anything-row-favicon {
    height: 32px;
    width: 32px;
}
.anything-row {
    padding-top: 2px;
    padding-bottom: 2px;
}
.anything-row:hover {
    background-color: #ddd;
}
.anything-row.active {
    background-color: #ddd;
}