#anything-dialog {
  height: 400px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: none;
}

.anything-text-container h6 {
    margin: 1px;
}
img.anything-row-favicon {
    height: 32px;
    width: 32px;
}
.anything-row {
    padding-top: 2px;
    padding-bottom: 2px;
    display: none;
}
.anything-row div {
  display: inline-block;
}
.anything-row:hover {
    background-color: #ddd;
}
.anything-row.active {
    background-color: #ddd;
}
.anything-row.anything-shown {
    display: block;
}
