<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <script type="text/template" id="anything-row-template">
            <div class="col-md-1">
                <img class="anything-row-favicon" src="<%- favIconUrl %>" />
            </div>
            <div class="col-md-11 anything-text-container">
                <h6 class="anything-row-title"><%- title %></h6>
                <h6 class="anything-row-url"><small><%- url %></small></h6>
                <input class="anything-row-tab-id" type="hidden" value="<%- tabId %>"/>
            </div>
        </script>
        <script type="text/template" id="anything-source-set-template">
            <h4><%- sourceType %></h4>
        </script>
        <script type="text/template" id="anything-source-list-template">
            <div class="separator">
                <h4>type</h4>
            </div>
           <%- sourceList %>
        </script>
        <div id="anything-dialog" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- dialog header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Anything Tabs for Chrome</h4>
                    </div>
                    <!-- dialog body -->
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="pattern" class="control-label">Pattern:</label>
                                <input type="text" class="form-control" id="pattern" autocomplete="off">
                            </div>
                        </form>
                        <div id="anything-source-list" class="container-fruid">
                        </div>
                    </div>
                    <!-- <\!-- dialog buttons -\-> -->
                    <!-- <div class="modal-footer"><button type="button" class="btn btn-primary">OK</button></div> -->
                </div>
            </div>
        </div>
        <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./bower_components/underscore/underscore.js"></script>
        <script type="text/javascript" src="./bower_components/backbone/backbone.js"></script>
        <script type="text/javascript" src="models.js"></script>
        <script type="text/javascript" src="background.js"></script>
    </body>
</html>
